
body {
    background-color: #AD5E72;
}
.admin-list ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: em;
    background-color: rgba(99, 86, 242, 0.5);
}
.admin-list a {
    text-decoration: none;
    color: rgb(0, 21, 252);
}
.admin-list ul li {
    float: left;
    margin: 2em;
    padding: 5px;
    background-color: rgba(80, 77, 122, 0.5);
}
.clear {
    clear: both;
}
.title-admin {
    text-align: center;
    font-size: 4em;
    color: #049fff;
    background-color: lightcoral;
}
.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}